.logosport {
    width: 25px;
    height: 25px;
    

}
.rowheight{
    height: 40px;
}

.active-nav-link {
    border: 1px solid black;
    background-color: rgb(219, 149, 1);
    cursor: pointer;
    
}

.not-active {
    cursor: pointer;
}
.nav-menu  {
  background-color: rgb(192, 88, 5);
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    
}
.nav-menu a{
    text-decoration: none;
    color:black;
    height: 40px;
    
}

.hover:hover {
    border: 1px solid black;
}
.col,.col-3{
    padding-top: 5px;
    height: 40px;
    
}
.textcolor{
    color:  rgb(46, 35, 0);
}
