 .logosport {
     width: 25px;
     height: 25px;

 }

 #sportbtn {

     text-decoration: none;
     color: black;

 }

 #sportcolumn {
     padding-top: 35px;
     white-space: nowrap;
     font-size: 25px;


 }

 #logocolumn {
     padding-top: 10px;
 }


 #logo {
     max-height: max-content;
     font-size: 300%;
     font-weight: bold;
     text-decoration: none;
     transition: font-size 0.3 ease;
     font-style: italic;
 }

 .active-nav-link {
     cursor: pointer;
     border: solid 4px;
     padding-bottom: 7px;
     padding-left: 5px;
     padding-right: 10px;
     border-radius: 4px;
     border-color: transparent transparent green transparent;

 }

 .not-active {
     cursor: pointer;
 }

 .row {
     height: 100px;
 }

 @media(max-width:1500px) {
     #logo {

         transition: font-size 0.3s ease;
     }

     #sportcolumn {

         font-size: 20px;
         transition: font-sizw 0.3 ease;


     }

 }

 @media(max-width:1300px) {
     #logo {

         font-size: 200%;
         transition: font-size 0.3s ease;


     }


     #logocolumn {
         padding-top: 20px;
         transition: padding-top 0.5 ease;
     }

     #sportcolumn {

         font-size: 15  px;
         transition: font-sizw 0.3 ease;


     }
 }

 @media(max-width:880px) {

     #logocolumn {
         padding-top: 0px;
         transition: padding-top 0.5 ease;
     }
 }





 /*
#header{
    width: 100%;
    height: 100px;
    background-color: white;
    margin-top: -10px;
    padding-left: -10px;
    box-shadow: 0 5px 3px 3px rgb(70, 69, 69);
}
#headersportbtn{
    width: 98%;
    height: 100px;
    background-color: transparent;
    border-radius: 15px;
    margin-top: 60px;
    white-space: nowrap;    
}

.rowheight{
    height: 40px;   
}


.nav-menu  {
    position: fixed;    
}
 */