.col table {
    border-collapse: collapse;
    width: 66%;
    
}

.column-header,
.column-data {
    padding: 5px;
    /* Adjust this value as needed */
    text-align: center;
    font-size: 20px;
}

.col tr {
    border-bottom: 2px solid #ffa200;
    /* Add a line below each row */
}

.event-row {
    border-bottom: 2px solid #ffa200;
    padding: 5px;
    width: 49%;
    height: 10%;
}

.row {
    margin-bottom: 50px;
}

.colorDescriptions {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}