<div class="row">
    <div class="col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi consequatur maiores ipsum, eius vitae similique
        quisquam enim quas voluptatum cum voluptatibus nesciunt id, delectus ea eligendi quasi at iure quae.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt possimus rerum explicabo, sequi suscipit
        laborum eius ab, qui assumenda officiis, beatae perferendis. Deserunt eligendi sint repellat, voluptate incidunt
        non eaque!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, in. Commodi beatae voluptate obcaecati velit
        impedit facere, debitis porro blanditiis excepturi aperiam error vel id odio necessitatibus ratione quibusdam.
        Quaerat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, consequuntur quibusdam possimus rem, ad
        dolore impedit laborum voluptates nulla maiores provident ipsum dolorem nemo, repellendus quas fugiat! Eligendi,
        atque obcaecati?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi consequatur maiores ipsum, eius vitae similique
        quisquam enim quas voluptatum cum voluptatibus nesciunt id, delectus ea eligendi quasi at iure quae.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt possimus rerum explicabo, sequi suscipit
        laborum eius ab, qui assumenda officiis, beatae perferendis. Deserunt eligendi sint repellat, voluptate incidunt
        non eaque!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, in. Commodi beatae voluptate obcaecati velit
        impedit facere, debitis porro blanditiis excepturi aperiam error vel id odio necessitatibus ratione quibusdam.
        Quaerat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, consequuntur quibusdam possimus rem, ad
        dolore impedit laborum voluptates nulla maiores provident ipsum dolorem nemo, repellendus quas fugiat! Eligendi,
        atque obcaecati?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi consequatur maiores ipsum, eius vitae similique
        quisquam enim quas voluptatum cum voluptatibus nesciunt id, delectus ea eligendi quasi at iure quae.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt possimus rerum explicabo, sequi suscipit
        laborum eius ab, qui assumenda officiis, beatae perferendis. Deserunt eligendi sint repellat, voluptate incidunt
        non eaque!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, in. Commodi beatae voluptate obcaecati velit
        impedit facere, debitis porro blanditiis excepturi aperiam error vel id odio necessitatibus ratione quibusdam.
        Quaerat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, consequuntur quibusdam possimus rem, ad
        dolore impedit laborum voluptates nulla maiores provident ipsum dolorem nemo, repellendus quas fugiat! Eligendi,
        atque obcaecati?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi consequatur maiores ipsum, eius vitae similique
        quisquam enim quas voluptatum cum voluptatibus nesciunt id, delectus ea eligendi quasi at iure quae.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt possimus rerum explicabo, sequi suscipit
        laborum eius ab, qui assumenda officiis, beatae perferendis. Deserunt eligendi sint repellat, voluptate incidunt
        non eaque!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, in. Commodi beatae voluptate obcaecati velit
        impedit facere, debitis porro blanditiis excepturi aperiam error vel id odio necessitatibus ratione quibusdam.
        Quaerat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, consequuntur quibusdam possimus rem, ad
        dolore impedit laborum voluptates nulla maiores provident ipsum dolorem nemo, repellendus quas fugiat! Eligendi,
        atque obcaecati?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi consequatur maiores ipsum, eius vitae similique
        quisquam enim quas voluptatum cum voluptatibus nesciunt id, delectus ea eligendi quasi at iure quae.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt possimus rerum explicabo, sequi suscipit
        laborum eius ab, qui assumenda officiis, beatae perferendis. Deserunt eligendi sint repellat, voluptate incidunt
        non eaque!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, in. Commodi beatae voluptate obcaecati velit
        impedit facere, debitis porro blanditiis excepturi aperiam error vel id odio necessitatibus ratione quibusdam.
        Quaerat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, consequuntur quibusdam possimus rem, ad
        dolore impedit laborum voluptates nulla maiores provident ipsum dolorem nemo, repellendus quas fugiat! Eligendi,
        atque obcaecati?

    </div>
</div>
<br><br>

<div class="row">
    <div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Pos</th>
                    <th>Team</th>
                    <th *ngFor="let stat of standings[0]?.stats">
                        {{ stat?.name?.toUpperCase() }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let org of standings; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ org.team.name }}</td>
                    <ng-container *ngFor="let stat of org.stats">
                        <td>{{ stat.value }}</td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col">
        <mat-form-field>
            <mat-label>Seasons</mat-label>
            <mat-select [formControl]="seasonControl" (selectionChange)="selectSeason($event.value)">
                <mat-option *ngFor="let season of seasons" [value]="season">
                    {{ season.season.slug }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>


<!-- <div  class="col">
    <div *ngFor="let org of standings" class="col">
        <div class="organization col">
            {{ org.position }} {{ org.team.name }}
            <span class="stat" *ngFor="let stat of org.stats">
                {{ stat.name }}: {{ stat.value }}<span>, </span>
            </span>
        </div>
    </div>
    <div class="dropdown-container">
        <mat-form-field appearance="fill">
            <mat-label>Seasons</mat-label>
            <mat-select [formControl]="seasonControl" (selectionChange)="selectSeason($event.value)"
                panelClass="custom-panel">
                <mat-option *ngFor="let season of seasons" [value]="season">
                    {{ season.season.slug }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>  
</div> -->