<body>
    <div class="row border">
        <div class="col-2">
            <ul style="list-style-type: none;">
                <li>Översikt</li>
                <li>Tabell</li>
                <li>Spelschema</li>
                <li>Spelarstatistik</li>
            </ul>
        </div>
        <div class="col-5 border">
            <div *ngFor="let league of seasons">
                {{ league.season.slug }}
            </div>
        </div>
        <div class="col-5 border">
            <div *ngFor="let org of standings">
                <div class="organization">
                  {{ org.position }} {{ org.team.name }}
                  <span class="stat" *ngFor="let stat of org.stats">
                    {{ stat.name }}: {{ stat.value }}<span>, </span>
                  </span>
                </div>
              </div>
        </div>
    </div>
</body>