.header {
    background-color: antiquewhite;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 100;
}

.header::after {
    content: '';
    position: absolute;
    width: 98%;
    bottom:0px;
    margin-top: 100px;
    margin-left: 1%;
    height: 8px;
    background-color: orange;
    bottom: 0;
    border-radius: 20px;
    
}

.sidebar-container {
    padding-top:50px;
    margin-top:100px;
    z-index: 0;
}
#content-container {
    padding-top: 120px;
}

@media(max-width:768px) {
    .sidebar-container {
        padding-top: 5px;
        padding-bottom: 20px;
    }
}
@media(max-width:900px) { 
    #sidebar {
        font-size: 70%;
        transition: font-size 0.3s ease;
    }
}

@media(max-width:670px) {
    #sidebar {
        font-size: 50%;
        transition: font-size 0.3s ease;

    }
}