.border {
    border: solid 122px blue;
}

.logosport {
    width: 25px;
    height: 25px;
}

a {
    text-decoration: none;
    color: black;
}

.active {
    border: 1px solid black;
    background-color: aqua;
    cursor: pointer;
}

.not-active {
    
    cursor: pointer;
}

.hover:hover {
    border:1px solid black;
}
