<main>
  <a [routerLink]="['/']"></a>
  <div class="row border" style="text-align: center;">
    <div class="col-2">
      <a [routerLink]="['/']">Hem</a>
    </div>
    <div class="col-3">
      <a [routerLink]="['/fotboll']" (click)="sendData('Fotboll')">Fotboll</a>
    </div>
    <div class="col-3">
      <a [routerLink]="['/ishockey']" (click)="sendData('Ishockey')">Ishockey</a>
    </div>
    <div class="col-3">
      <a [routerLink]="['/innebandy']" (click)="sendData('Innebandy')">Innebandy</a>
    </div>
  </div>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
