.sidebar {
    width: 0px;
    position: fixed;
  margin-top: 110px;
    left: 0;
    height: 100vh;
    background-color: antiquewhite;
    overflow: hidden; 
    transition: width 0.3s ease; 
    padding-top: 10px;
    padding-left: 5px;
   
  }
  
  .sidebar.open {
    border-right: solid 8px orange;
    width: 250px;
    overflow: visible; 
    
 
  }
  
#text {
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: 500;
    margin-left: 5px;
  
}

#subtext {
    text-decoration: none;
    font-size: 15px;
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 0;

}
