<div>
    <div id="sidebar" class="row">
        <div class="col">
            <div *ngFor="let leagueName of uniqueLeagueNames">
                <a id="text" [routerLink]="['/', createLink(leagueName), leagueName]">{{ transformWord(leagueName) }}</a>
                <div *ngIf="selectedItem === leagueName">
                    <ul id="subtext" >
                        <li>Översikt</li>
                        <li>Tabell</li>
                        <li>Spelschema</li>
                        <li>Spelarstatistik</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>