.sidebar {
  width: 0px;
  position: fixed;
  margin-top: 110px;
  left: 0;
  height: 100vh;


  overflow: hidden;
  transition: width 0.3s ease;
  padding-top: 10px;
  padding-left: 5px;

}

.sidebar.open {
 background-color: lightgray;
  width: 250px;
  overflow: visible;
  line-height: 30px;
}

.ass {
  position: fixed;
  left: 10px;
  transition: 0.3s ease;

  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.ass.open {
  left: 260px;
  transition: 0.3s ease;
}

#text {
  text-decoration: none;
  font-size: 15px;
  color: black;
  font-weight: 500;
  margin-left: 5px;

}

#subtext , ul,a{
  text-decoration: none;
  font-size: 15px;
  list-style-type: none;
  margin-left: 0px;
  margin-bottom: 0;
}