.sidebar {
  width: 0px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: gray;
  overflow: hidden; 
  transition: width 0.3s ease; 
}

.sidebar.open {
  width: 250px;
  overflow: visible; 
}

.main-content {

  margin-left: 0;
}

.main-content.with-sidebar {
  margin-left: 0px;
}

.content {
  margin-left: 250px;

}

.pos {
  margin-top: 110px;
}