#sidebar {
    padding: 10px;
    margin-top: 120px;
    background-color: white;
    border: solid 2px orange;
    border-radius: 20px;
    border-width: 5px;
    height: fit-content;
    width: 20%;
    margin-left: 0px;
    padding-left: 0;
    width: fit-content;
    position: fixed;
    
    
  
}
#text{
    text-decoration: none;
}


@media(max-width:900px) {
    #sidebar {
        font-size: 70%;
        transition: font-size 0.3s ease;
    }
}
@media(max-width:670px) {
    #sidebar {
        font-size: 50%;
        transition: font-size 0.3s ease;
        margin-left: -10px;
        
    }
}