.sidebar {
  width: 0px;
  position: fixed;
  margin-top: 110px;
  left: 0;
  height: 100vh;
  background-color: lightgray;
  overflow: hidden;
  transition: width 0.3s ease;
  padding-top: 10px;

}
.linkContainer {
    width:100%;
    margin:0;
    padding-top: 2px;
    padding-bottom: 2px;
}
.linkContainer:hover {
    background-color: #bebebe;
}


.sidebar.open {
  width: 250px;
  overflow: visible;
  line-height: 30px;
}

.navbar-toggler {
  position: fixed;
  left: 10px;
  transition: 0.5s ease;

  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.navbar-toggler.open {
  left: 260px;
  transition: 0.3s ease;
  transform: rotate(180deg);
}

#text {
  text-decoration: none;
  font-size: 15px;
  color: black;
  font-weight: 500;
  padding-left: 5px;

}

#subtext , ul,a{
  text-decoration: none;
  font-size: 15px;
  list-style-type: none;
  margin-left: 0px;
  margin-bottom: 0;
}