#text {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 500;
}

#subtext {
    text-decoration: none;
    font-size: 15px;
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 0;

}

#sidebar {
    background-color: white;
    border: solid 2px #F9B572;
    border-radius: 5px;
    border-width: 5px;
    padding: 10px;
    margin-right: 25px;
    margin-top: 130px;
    overflow: hidden;
    white-space: nowrap;
}

@media(max-width:768px) {
    #sidebar {
        margin-top: 0;
    }
}
@media(max-width:1300px) {
    #text {
        font-size: 15px;
        transition: font-size 0.3s ease;
    }

    #subtext {
        font-size: 12px;
        transition: font-size 0.3s ease;
    }
}
@media(max-width:1100px) {
    #text {
        font-size: 12px;
        transition: font-size 0.3s ease;
    }

    #subtext {
        font-size: 10px;
        transition: font-size 0.3s ease;
    }
}
