<div class="row">
    <div class="col">
        <h1>{{leagueName}}</h1>
    </div>
    <div class="col">
        <button mat-button (click)="selectPrevious()"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <mat-form-field>
            <mat-label>Round</mat-label>
            <mat-select [formControl]="roundsControl" (selectionChange)="selectRound($event.value)">
                <mat-option *ngFor="let round of rounds.slice().reverse()" [value]="round">
                    {{ round }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button (click)="selectNext()"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
    <div class="col">
        <mat-form-field>
            <mat-label>Seasons</mat-label>
            <mat-select [formControl]="seasonControl" (selectionChange)="selectSeason($event.value)">
                <mat-option *ngFor="let season of seasons" [value]="season">
                    {{ season.season.slug }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div class="row" style="width: 50%;">
    <div class="col">
        <h2>Senaste matcherna:</h2>
        <table>
            <tbody>
                <ng-container *ngFor="let event of roundEvents">
                    <tr style="border-bottom: 0px; border-top: 2px solid #ffa200;">
                        <td class="column-data"><img width="28px" height="30px" src="{{event.homeTeam.logo}}"></td>
                        <td class="column-data" [style.font-weight]="event.homeTeamPoints > 1 ? 'bold' : 'normal'">
                            {{event.homeTeam.name}}</td>
                        <td class="column-data" style="font-weight: 700;">{{event.homeTeamScore}}</td>
                        <td class="column-data" *ngIf="event.finishedTimeStatus == 'PENALTY_SHOOTOUT' || event.finishedTimeStatus == 'OVERTIME' ||
                       event.finishedTimeStatus == 'WALK_OVER' || event.finishedTimeStatus == 'RETIRED '">
                            {{event.finishedTimeStatus}}</td>
                        <td class="column-data">{{event.facts.arena.name}}</td>
                    </tr>
                    <tr>
                        <td class="column-data"><img width="28px" height="30px" src="{{event.visitingTeam.logo}}"></td>
                        <td class="column-data" [style.font-weight]="event.visitingTeamPoints > 1 ? 'bold' : 'normal'">
                            {{event.visitingTeam.name}}</td>
                        <td class="column-data" style="font-weight: 700;">{{event.visitingTeamScore}}</td>
                        <td class="column-data">Spectators: {{event.facts.spectators}}</td>
                    </tr>
                </ng-container>
            </tbody>

        </table>
    </div>
</div>