<div class="row">
    <div class="col">
        <mat-form-field>
            <mat-label>Seasons</mat-label>
            <mat-select [formControl]="seasonControl" (selectionChange)="selectSeason($event.value)">
                <mat-option *ngFor="let season of seasons" [value]="season">
                    {{ season.season.slug }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-4" *ngIf="scoringLeaders">
        <h5>Skytteliga:</h5>
        <div class="event-row" *ngFor="let player of scoringLeaders">
            <div>
                <img width="28px" height="30px" src="{{player.team.logo}}">
                {{player.name}} {{player.count}}
            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="assistLeaders">
        <h5>Assistliga:</h5>
        <div class="event-row" *ngFor="let player of assistLeaders">
            <div>
                <img width="28px" height="30px" src="{{player.team.logo}}">
                {{player.name}} {{player.count}}
            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="pointLeaders && assistLeaders && scoringLeaders">
        <h5>Poängliga:</h5>
        <div class="event-row" *ngFor="let player of pointLeaders">
            <div>
                <img width="28px" height="30px" src="{{player.team.logo}}">
                {{player.name}} {{player.count}}
            </div>
        </div>
    </div>

</div>