.col table {
    border-collapse: collapse;
    width: 60%;
}

.column-header,
.column-data {
    padding: 5px; /* Adjust this value as needed */
    text-align: center;
    font-size: 20px;
}

tr {
    border-bottom: 2px solid #ffa200; /* Add a line below each row */
}

.event-row {
    border-bottom: 2px solid #ffa200;
    padding: 5px;
    width: 49%;
    height: 10%;
}

.row {
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 90px;
}