@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
 
}

#logo {
  color: black;
  text-align: left;
}

.tableClass {
  border: solid 2px #0e7693;
  border-radius: 5px;
  border-width: 5px;
  background-color: white;

}
.header{
  background: linear-gradient(to right, #007BFF, #34ACE0);
}
