@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


body,
html{
  padding: 0;
  margin: 0;
  height: 100%;
  width: fit-content;
}

#logo {
  
  color: black;
   

  text-align: left;
 
}


/* @media(max-width:1600px) {
  #logo {
    font-size: 300%;
    margin-top: 10px;
  }

}

@media(max-width:1220px) {
  #logo {
    font-size: 250%;
    text-align: left;
    margin-top: 20px;
  }

}

@media(max-width:1040px) {
  #logo {
    font-size: 200%;
    text-align: left;
    margin-top: 8px;
  } */






