<div class="container-fluid">


    <div class="row">
        <div class="col">
            <app-header class="header"></app-header>
        </div>

    </div>


    <div id="margin" class="row">
        <div class="col-2 px-0">
            <app-sidebar id="sidebar"></app-sidebar>
            
        </div>
        <div class="col-10" > 
            <app-content id="content"></app-content>
        </div>

    </div>
</div>


<!-- <body class="container-fluid">
    <div class="row">
        <div id="leftSideBackground" class="col-3">
            <div id="menu" class="fixedList">

                <div *ngFor="let leagueName of uniqueLeagueNames">
                    <a [routerLink]="[createLink(leagueName)]">{{transformWord(leagueName)}}</a>
                </div>

            </div>

        </div>

        <div id="rightSideBackground" class="col ">
            <div *ngFor="let sport of sports">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, dignissimos vero? Amet dolorem nisi
                dicta fuga eveniet magnam odit quasi assumenda explicabo hic nemo, ratione commodi voluptatem ipsum
                dolorum. Omnis!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus minima, delectus accusamus,
                perspiciatis ab quidem odit, expedita doloremque praesentium tempora quo fugit in dignissimos saepe ex
                minus ducimus voluptas consequatur!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius omnis odit ullam dolores! Culpa molestias
                dicta autem quod commodi voluptas id accusantium atque eveniet rerum, eligendi possimus cum blanditiis
                voluptates.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus dolore, voluptate odio laudantium officia
                asperiores fugit adipisci, velit at nam ipsam cupiditate harum, mollitia maxime esse eaque dolor
                repellendus obcaecati!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia non nobis blanditiis quaerat,
                assumenda esse cumque. Eius maxime velit est recusandae aliquam! Labore nesciunt molestiae veniam
                quisquam, eveniet magni quibusdam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptates natus eligendi odit doloribus
                delectus nulla tempore ipsa! Modi, laborum eos. Minima eius voluptatem quibusdam cumque exercitationem
                sequi odit quasi.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo velit ex odio quibusdam enim eveniet
                numquam explicabo placeat. Quae illo tempore porro non ratione id numquam neque laboriosam reiciendis
                recusandae.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga non ab a! Quis consectetur provident
                totam tempora. Amet officiis placeat, deserunt aliquam nam, numquam porro ea obcaecati, perferendis
                officia culpa!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione culpa nemo voluptatibus eum omnis.
                Minima sequi ducimus suscipit dolores qui nesciunt at ratione, enim, sunt, distinctio cumque modi
                debitis vel!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quidem, expedita officia delectus
                labore dolor commodi libero, quasi eligendi ea iusto corporis ipsam quas dolores ratione veniam aliquam
                quis nihil?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti laudantium dolores corporis. Nam, ut
                beatae? Maxime laboriosam eius, necessitatibus sapiente voluptatum possimus repellendus assumenda
                cupiditate culpa consequuntur asperiores, dicta vero!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus odit commodi sed. Atque doloremque
                harum consequatur similique totam quis. Quasi assumenda consectetur, tempore sed vero minus eveniet
                praesentium dolor quam!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, soluta dignissimos autem
                voluptatem id iure amet voluptatibus alias iste, odio, perspiciatis culpa itaque tenetur? Nesciunt cum
                quos ullam optio quia.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed ipsam iste, ab ad, soluta nobis aliquam
                dolorem corporis praesentium, eveniet consectetur unde quae laboriosam. Quo mollitia quos vero maiores
                blanditiis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eveniet, harum commodi distinctio fuga
                eaque culpa deserunt, nihil voluptatibus quidem modi consequuntur aliquam voluptate. Excepturi sit
                deserunt vel quos unde.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam, eius est! Amet, error, ab labore rerum
                dolor porro aliquid tempora aperiam iste enim, est quasi pariatur beatae architecto saepe adipisci!
                Lorem
                Lorem
            </div>
        </div>
    </div>
</body> -->