<h2><strong>Senaste resultaten:</strong>
</h2>
<table class="tableClass">
    <tbody>
        <ng-container *ngFor="let event of featuredEvents">
            <tr style="border-bottom: 0px;">
                <td class="column-data"><img width="28px" height="30px" src="{{event.homeTeam.logo}}"></td>
                <td class="column-data" [style.font-weight]="event.homeTeamPoints > 1 ? 'bold' : 'normal'">{{event.homeTeam.name}}</td>
                <td class="column-data" style="font-weight: 700;">{{event.homeTeamScore}}</td>
                <td class="column-data" *ngIf="event.finishedTimeStatus == 'PENALTY_SHOOTOUT' || event.finishedTimeStatus == 'OVERTIME' ||
               event.finishedTimeStatus == 'WALK_OVER' || event.finishedTimeStatus == 'RETIRED '">{{event.finishedTimeStatus}}</td>
                <td class="column-data">{{event.facts.arena.name}}</td>
            </tr>
            <tr>
                <td class="column-data"><img width="28px" height="30px" src="{{event.visitingTeam.logo}}"></td>
                <td class="column-data" [style.font-weight]="event.visitingTeamPoints > 1 ? 'bold' : 'normal'">{{event.visitingTeam.name}}</td>
                <td class="column-data" style="font-weight: 700;">{{event.visitingTeamScore}}</td>
                <td class="column-data">Spectators: {{event.facts.spectators}}</td>
            </tr>
        </ng-container>
    </tbody>

</table>